*{
    margin:0px; padding: 0px;
}

.questionario {
    background-color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
    justify-content: center;
    justify-items: auto;
}


header{
    display:flex;
    padding:20px;
    justify-content: center;
    align-items: center;
    background-color: #272c30;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(187, 171, 129);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(187, 171, 129);
}

form div{
    padding: 15px;
    margin: 10px;
}

form input{
    border-radius: 30px;
    padding:5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width:85%;
}

form input:focus{
    color:rgb(187, 171, 129);
}